<!DOCTYPE html>
<html>
    <head>
        <title>Favorites Form</title>
    </head>
    <body>
        <!-- Your HTML code goes here! -->
        <form action="/favorites_results" method="GET">
            Input your favorites!<br>
            <label for="color">Favorite Color:</label>
            <input type="text" name="color"><br>
            <label for="animal">Favorite Animal:</label>
            <input type="text" name="animal"><br>
            <label for="city">Favorite City:</label>
            <input type="text" name="city"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>